Deepfake-Eval-2024*
*.amltmp
*.amltemp
*.amlignore
.ipynb_aml_checkpoints/
.ipynb_checkpoints/
*.pkl
*.pth
*.pt
*.csv

# MacOS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class